@page "/"
@inherits HomeBase
@rendermode InteractiveWebAssembly

<PageTitle>Home</PageTitle>

<div class="home-body">

    <h2 class="home-body__title">Esportify</h2>

    <p class="home-body__description">Esportify est dédié aux passionnés d’e-sport et de jeux vidéo compétitifs, organisant des tournois en ligne et LAN pour tous les niveaux. En quelques clics, inscrivez-vous aux compétitions de vos jeux préférés, suivez votre progression et accédez aux fonctionnalités d’administration pour gérer vos équipes et vos matchs. Avec des événements réguliers et un encadrement professionnel, nous créons une expérience immersive et stimulante pour tous les joueurs, qu'ils soient amateurs ou confirmés. Rejoignez-nous et mesurez-vous aux meilleurs ! </p>

    <div class="home-body-caroussel">
        
        <Carousel Images="@Images"></Carousel>
        
    </div>

    <div class="live-event">

        <h3>Events en cours</h3>

        @foreach (var evt in Events)
        {
            if (IsLiveEvent(evt))
            {
                <button class="live-event__event" @onpointerup="() => NavigateToSingleEventPage(evt.Id)">

                    <p class="event-info__dates">Termine @GetFormattedDate(evt.EndDate)</p>

                    <h3 class="event-info__title">@evt.Title</h3>

                </button>
            }
        }

        <button class="live-event__button-more" @onpointerup="NavigateToGlobalEventPage">Voir plus…</button>

    </div>

    <div class="upcoming-event">

        <h3>Events à venir</h3>

        @foreach (var evt in Events)
        {
            if (!IsLiveEvent(evt))
            {
                <button class="upcoming-event__event" @onpointerup="() => NavigateToSingleEventPage(evt.Id)">

                    <p class="event-info__dates">Termine @GetFormattedDate(evt.EndDate)</p>

                    <h3 class="event-info__title">@evt.Title</h3>

                </button>
            }
        }

        <button class="upcoming-event__button-more" @onpointerup="NavigateToGlobalEventPage">Voir plus…</button>

    </div>

</div>






